# Ignore old version folder
v1-static-card/

# Ignore logo folder (and everything inside it)
logo/

# Ignore VS Code settings
.vscode/

# Ignore Python cache and script
__pycache__/
minify_css.py

# Ignore source CSS (only keep minified)
docs/css/style.css

# Ignore environment folders (just in case)
env/
.venv/

# Ignore txt 
google-site-verification.txt

# Ignore personal notes and docs 
analise_gpt.docx
download_api_visit_site.txt
fetchDailyData.js
teste_formulario.py
Tutorial Curadoria diária de notícias (Emalytics).txt